.main-add-products {
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
form {
    width: 81.1%;
    padding: 30px 40px;
    border-radius: 8px;
    /* border: 1px solid white; */
    background-color: #1E1F20;
}
.options {
    display: flex;
    flex-wrap: wrap;
}
.add-btns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.images-field {
    display: flex;
    align-items: start;
}
.images-field img {
    border: 1px solid grey;
    /* display: flex; */
    margin-left: 10px;
    border-radius: 4px;
    margin-top: 10px;
    width: 40px;
}